In [1]:
import findspark
findspark.init()

import pyspark
from pyspark import SparkContext

In [2]:
from pyspark.sql import SparkSession

In [42]:
spark = SparkSession.builder.appName('Query3-SQL').getOrCreate()
df = spark.read.load("hw5_problem2.parquet")
df.show(5)

+--------------------+--------------------+--------------------+--------+---+-------+-------+---+------+
|                 _c0|                 _c1|                 _c2|     _c3|_c4|    _c5|    _c6|_c7|   _c8|
+--------------------+--------------------+--------------------+--------+---+-------+-------+---+------+
|eefc2eb34a354ab7a...|2019-09-12T00:00:...|http://example.co...|user-041| CR|     IE|Android|201|0.2856|
|9ba55c683ddd4a05a...|2019-09-12T00:00:...|http://example.co...|user-043| NE| Safari|windows|403|0.2843|
|a45df30287454e598...|2019-09-12T00:01:...|http://example.co...|user-005| VI|   Edge|Android|444|0.6983|
|941c2d880242431c9...|2019-09-12T00:01:...|http://example.co...|user-092| IS|Firefox|windows|226|0.2636|
|97723d7e1669450eb...|2019-09-12T00:02:...|http://example.co...|user-024| GM|Firefox|windows|303|0.0459|
+--------------------+--------------------+--------------------+--------+---+-------+-------+---+------+
only showing top 5 rows

In [46]:
# Register the DataFrame as a SQL temporary view
df.createOrReplaceTempView("alldata")

In [101]:
hourUrlDF = spark.sql("""
SELECT _c1, _c2 FROM alldata
WHERE _c1 LIKE '%2019-09-12T14%'
""")
hourUrlDF.show()

+--------------------+--------------------+
|                 _c1|                 _c2|
+--------------------+--------------------+
|2019-09-12T14:00:...|http://example.co...|
|2019-09-12T14:00:...|http://example.co...|
|2019-09-12T14:01:...|http://example.co...|
|2019-09-12T14:01:...|http://example.co...|
|2019-09-12T14:01:...|http://example.co...|
|2019-09-12T14:02:24Z|http://example.co...|
|2019-09-12T14:02:...|http://example.co...|
|2019-09-12T14:03:...|http://example.co...|
|2019-09-12T14:03:...|http://example.co...|
|2019-09-12T14:04:...|http://example.co...|
|2019-09-12T14:04:...|http://example.co...|
|2019-09-12T14:04:...|http://example.co...|
|2019-09-12T14:05:...|http://example.co...|
|2019-09-12T14:05:...|http://example.co...|
|2019-09-12T14:06:...|http://example.co...|
|2019-09-12T14:06:...|http://example.co...|
|2019-09-12T14:07:...|http://example.co...|
|2019-09-12T14:07:...|http://example.co...|
|2019-09-12T14:08:...|http://example.co...|
|2019-09-12T14:08:...|http://example.co...|
+--------------------+--------------------+
only showing top 20 rows

In [99]:
# Register the DataFrame as a SQL temporary view
hourUrlDF.createOrReplaceTempView("smalldata")

In [102]:
urlEventCountDF = spark.sql("""
SELECT _c2, COUNT(_c2) 
FROM smalldata
GROUP BY _c2
""")
urlEventCountDF.show()

+--------------------+----------+
|                 _c2|count(_c2)|
+--------------------+----------+
|http://example.co...|         9|
|http://example.co...|         4|
|http://example.co...|         1|
|http://example.co...|         6|
|http://example.co...|         3|
|http://example.co...|         3|
|http://example.co...|         7|
|http://example.co...|         2|
|http://example.co...|         1|
|http://example.co...|         2|
|http://example.co...|         2|
|http://example.co...|         1|
|http://example.co...|         2|
|http://example.co...|         2|
|http://example.co...|         2|
|http://example.co...|         2|
|http://example.co...|         3|
|http://example.co...|         3|
|http://example.co...|         5|
|http://example.co...|         5|
+--------------------+----------+
only showing top 20 rows